{% extends "base.html" %}

{% block content %}
{{ block.super }}
<div>Do you know the longer English word, <a href="{% url 'word-submission' %}">why not submit?</a></div>
<h2>Top Scores Today</h2>
{% if scores.count %}
<table>
	<thead>
		<tr>
			<th>Score</th>
			<th>User</th>
			<th>Word</th>
		</tr>
	</thead>
	<tbody>
		{% for score in scores %}
		<tr>
			<td>{{ score.word_score }}</td>
			<td>{{ score.user.username }}</td>
			<td>{{ score.word }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p>No submissions today yet.</p>
{% endif %}
{% endblock %}